<h1>Sobre</h1>

<p>A folha de pagamento da Câmara de Deputados e Senado do Brasil está entre as mais caros do mundo. As duas casas juntas tem orçamento previsto de R$ 10,2 bilhões para 2017 o que equivale a R$ 28 milhões por dia! Tudo isso em um cenário de déficit previsto
    de R$ 139 bilhões para as contas públicas em 2017. Além de salários e benefícios generosos, nossos parlamentares também contam com um número generoso de funcionários. A Câmara, por exemplo, além de seus 513 deputados, possui cerca de 16 mil funcionários
    efetivos e comissionados que representam 81% do orçamento. </p>

<p>O problema é que se quisermos acessar informaçes de remuneração de servidores dessas duas casas esbarraremos em diversas dificuldades. No site do <a href="http://www.senado.gov.br/transparencia/rh/servidores/nova_consulta.asp">Senado</a>, por exemplo,
    precisamos primeiro saber o nome específico dos servidores. Segundo, precisamos digitar um captcha bem difícil de decifrar para que a consulta seja realizada. Por último, não temos como ver ou baixar os dados da folha referentes a um dado período
    ou cargo, por exemplo, as consultas só funcionam uma a uma. Entendendo que o cidadão tem direito constitucional a essas informaçes, garantido pela Lei de Acesso à Informação, decidimos tornar mais fácil o acesso a esses dados. Construí  mos scripts
    coletores para baixar os dados da folha de pagamento da Câmara e Senado de 2012 à 2017. Esses dados agora estão agora facilmente disponíveis por meio da API de acesso que desenvolvemos. Além disso, desenvolvemos uma interface de consulta que resolve
    os problemas atuais de acesso acima mencionados. Por último, criamos um blog com várias análises de dados das folhas da Câmara e Senado. Esse blog poderá no futuro ser alimentado por outros cientistas de dados que queiram contribuir com a promoção
    da transparência desses dados.</p>

<p>É essencial termos todas as remunerações abertas (e não uma a uma) para uma análise mais aprofundada da estrutura de cargos e salários para eventuais correções. Os cidadãos, que pagam os salários, têm o direito de saber quanto ganham os seus empregados.</p>

<p>Os dados estão disponíveis no <a href="https://github.com/quebraquebra" target="_blank">GitHub</a>.</p>