<h1>Sobre</h1>

<p>Os orçamentos da Câmara dos Deputados e do Senado, juntos, para 2017 totalizam R$ 10,2 bilhões. As despesas com "pessoal
  e encargos sociais somam cerca de R$ 8 bilhões!!! Um dos objetivos do HackFest contra a corrupção é o aprimoramento do
  uso dos recursos públicos. É essencial termos todas as remunerações abertas ( e não uma a uma) para uma análise mais aprofundada
  da estrutura de cargos e salários para eventuais correções. Os cidadãos, que pagam os salários, têm o direito de saber
  quanto ganham os seus empregados.</p>

<p>Nesse sentido, este projeto não só obteve as informações de remuneração de todos os servidores da câmara de deputados (2016/2017)
  e senado (2017) como também realizou várias análises e visualizações dessas informações para ajudar o cidadão a melhor
  entendê-las.</p>

<p>Os dados estão disponíveis no <a href="https://github.com/tatianass/quebra-quebra" target="_blank">GitHub</a>.</p>