<h1>Equipe</h1>

<app-card-membro nome="Gil Castello Branco" funcao="Idealizador" foto="gil.jpg">
  Gil é fundador e secretário-geral da Associação Contas Abertas, vencedora do Prêmio do Escritório das Nações Unidas sobre
  Drogas e Crime (2008). Castello Branco foi secretário-executivo do Ministério de Esporte, em 2003, assessor parlamentar
  na Câmara dos deputados, presidente da Empresa Brasileira de Planejamento e Transportes (GEIPOT) e consultor da Organização
  das Nações Unidas (ONU). É economista do Instituto de Desenvolvimento Econômico e Gerencial, associado à Federação das
  Indústrias do Estado do Rio de Janeiro-(FIRJAN).
</app-card-membro>
<app-card-membro nome="Fagner Lima" funcao="Full Stack Developer" foto="fagner.jpg"
  websiteLink="http://fagnerlima.pro.br"
  linkedinLink="https://www.linkedin.com/in/fagnerlima"
  lattesLink="http://lattes.cnpq.br/1180607576001039">
  Tecnólogo em Análise e Desenvolvimento de Sistemas pela Universidade Estácio de Sá (2015), além de Técnico em Informática
  com Ênfase em Programação (ETEMAA - 2011) e Técnico em Redes de Computadores (ETEAAV - 2013). Atua como Full Stack Developer
  com tecnologias como Java (Spring) e PHP (Symfony); JavaScript (Angular), CSS3 (Bootstrap) e HTML5; MySQL e PostgreSQL;
  e Git. É também Professor de Informática, tendo ministrado aulas no Curso Técnico de Redes de Computadores da Escola Técnica
  Estadual Aderico Alves de Vasconcelos.<br />
  No desenvolvimento do Quebra-Quebra, atua na construção do website e na disponibilização dos dados através de uma RESTful API,
  onde os usuários finais podem interagir com todos os dados obtidos e as análises realizadas.<br />
</app-card-membro>
<app-card-membro nome="Ítalo de Pontes Oliveira" funcao="Data Scientist" foto="italo.png"
  websiteLink="https://sites.google.com/view/italodepontesoliveira"
  linkedinLink="https://www.linkedin.com/in/%C3%ADtalo-de-pontes-oliveira-53134624"
  lattesLink="http://goo.gl/nHWST">
  É doutorando em Ciência da Computação pela UFCG, pesquisa sobre aprendizado de máquina (tecnologias como Deep Learning) e
  sistemas de recomendação no Laboratório de Mineração de Dados (LMD). É bolsista do Conselho Nacional de Desenvolvimento
  Científico e Tecnológico (CNPq). Possui mestrado em Ciência da Computação (UFCG - 2016) na área de Visão Computacional,
  fez parte do projeto de pesquisa ArBigData3 financiado pela Hewlett Packard (HP) no Laboratório de Percepção Computacional
  (LPC). É tecnólogo em Telemática pelo IFPB (2013) onde participou de projeto de pesquisa (PIBICT) sobre Engenharia de Software,
  foi membro do Instituto de Engenheiros Eletricistas e Eletrônicos (IEEE) e foi presidente do Ramo Estudantil IEEE do IFPB-CG,
  o qual recebeu o prêmio de Ramo Revelação na Reunião Nacional dos Ramos (RNR-2013). Teve artigos publicados em diversos
  eventos e periódicos, além de ter participado de diversos congressos, tais como o Simpósio Brasileiro de Telecomunicações
  (SBrT) e o Congresso da Sociedade Brasileira de Computação (CSBC).
</app-card-membro>
<app-card-membro nome="Jesús Mercado" funcao="Developer" foto="profile.jpg">
  Atua na coleta dos dados da folha da Câmara. Trabalha na ThoughtWorks Ecuador.
</app-card-membro>
<app-card-membro nome="Leandro Balby Marinho" funcao="Coordenador" foto="profile.jpg">
  Atua como coordenador do projeto, contribuindo principalmente na análise dos dados. Professor doutor
</app-card-membro>
<app-card-membro nome="Tatiana Saturno da Silva" funcao="Data Scientist" foto="tatiana.png"
  linkedinLink="https://www.linkedin.com/in/tatianasaturno">
  Graduanda em Ciência da Computação na Universidade Federal de Campina Grande - UFCG. Membro do Grupo de Pesquisa em Direitos
  Humanos da UFCG - GRUPEDIH. Data Scientist no projeto da Polícia Federal (EPOL). Estagiária como desenvolvedora web no
  Hospital da FAP. Área de interesse: análise de dados com ênfase em direitos humanos e criminologia.
</app-card-membro>
