<h1>Equipe</h1>

<div class="row">
  <app-card-membro nome="Gil Castelo Branco" papel="Idealizador" foto="profile.jpg"></app-card-membro>
  <app-card-membro nome="Fagner Lima" papel="Desenvolvedor" foto="profile.jpg"></app-card-membro>
  <app-card-membro nome="Ítalo Oliveira" papel="Desenvolvedor" foto="profile.jpg"></app-card-membro>
  <app-card-membro nome="Jesús Mercado" papel="Desenvolvedor" foto="profile.jpg"></app-card-membro>
  <app-card-membro nome="Leandro Marinho" papel="Desenvolvedor" foto="profile.jpg" offset="3"></app-card-membro>
  <app-card-membro nome="Tatiana Saturno" papel="Desenvolvedor" foto="profile.jpg"></app-card-membro>
</div> <!--/.row-->
