@import url('https://fonts.googleapis.com/css?family=Lalezar|Roboto');
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/@angular-generic-table/core/css/generic-table.min.css';
@import './assets/css/angular-generic-table.css';
@import './assets/css/cssloader.css';

$backgroundColor: #99fdd9;
$buttonColor: #303e52;
$buttonColorHover: #414f65;

body {
  background: $backgroundColor;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  overflow: hidden;
}

/**
 * Text
 */

h1 { margin-bottom: 30px }

.text-bold { font-weight: bold }

/**
 * Image
 */

img { max-width: 100% }

/**
 * Links
 */

a:hover {
  cursor: pointer;
  text-decoration: none;

  img { border: none }
}

/**
 * Botões
 */

.btn { margin-bottom: 5px }

.btn-primary {
  background: #3a3f57;
  border: none;

  &:focus {
    background: #3a3f57;
    box-shadow: 0 0 1px #3a3f57;
  }

  &:hover {
    background: #303e52;
  }
}

.btn-inactive {
  background: #777;
  border: none;

  &:focus {
    background: #777;
    box-shadow: 0 0 1px #777;
  }

  &:hover {
    background: #6a6a6a;
  }
}

/**
 * IFrames
 */

iframe.full-width {
  height: 95%;
  width: 100%;
}

/**
 * Home
 */

#wallpaper {
    background-image: url(./assets/img/logo.png), url(./assets/img/wallpaper.png);
    background-position: 50%, bottom;
    background-repeat: no-repeat;
    background-size: 50%, cover;
    height: 100vh;
    position: relative;
    width: 100vw;

    @media screen and (min-width: 720px) {
      background-size: auto 40%, cover;
    }

    #social-media {
      float: right;
      margin: 5px 5px 0 0;

      img {
        height: 30px;
        opacity: .8;
        transition: .5s;

        &:hover {
          opacity: 1;
          transform: scale(1.05);
        }
      }
    }

    .balao {
      bottom: 51%;
      opacity: 0.8;
      position: absolute;
      transition-duration: .2s;
      width: 20%;

      &:hover {
        cursor: pointer;
        opacity: 1;
        transform: scale(1.02);
      }

      @media screen and (min-width: 720px) {
        bottom: 52%;
        height: 17%;
        width: auto;
      }

      &.balao-1 {
        right: 55%;

        @media screen and (min-width: 720px) {
          right: 52%;
        }
      }

      &.balao-2 {
        left: 62.5%;

        @media screen and (min-width: 720px) {
          left: calc(50% + 100px);
        }
      }
    }

    #main-menu {
      bottom: 2rem;
      position: absolute;
      text-align: center;
      width: 100%;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          margin: 0 .5rem .2rem;

          button {
            background: transparent;
            border: none;
            color: $buttonColor;
            display: block;
            font-family: 'Lalezar', cursive;
            font-size: 2rem;
            outline: none;
            padding: 0;
            text-decoration: none;
            transition: .5s;

            @media screen and (min-height: 400px) {
              font-size: 3rem;
            }
          }

          button:hover { color: $buttonColorHover }
        }
      }
  }
}

/**
 * Modal
 */

.modal {

  .modal-dialog {
    height: 100vh;
    margin: 0;
    overflow: auto;
    width: 100vw;
  }

  .modal-content {
    background: $backgroundColor;
    background-image: url(./assets/img/wallpaper.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
    height: auto;
    min-height: 100%;
    padding: 1.5rem;

    .full-modal-header {
      height: 50px;
      margin-bottom: 20px;
      position: relative;

      .logo {
        height: 100%;
        position: absolute;
      }

      .btn-back {
        background: transparent;
        border: none;
        color: $buttonColor;
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        height: auto;
        line-height: 20px;
        padding: 0;
        position: absolute;
        right: 0;
        top: 15px;
      }

      .btn-back:hover { color: $buttonColorHover }
    }

    .full-modal-body {
      box-shadow: 0 0 5px #414F65;
      overflow: auto;
      height: calc(100vh - 110px);
      padding: 20px;

      .btn-bar { margin-bottom: 15px }

      table { background: #fff }
    }
  }
}
