@import url('https://fonts.googleapis.com/css?family=Lalezar|Roboto');
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/@angular-generic-table/core/css/generic-table.min.css';
@import './assets/sass/angular-generic-table.scss';

$buttonColor: #303e52;
$buttonColorHover: #414f65;

body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  overflow: hidden;
}

/**
 * Text
 */

h1 { margin-bottom: 30px }

.text-bold { font-weight: bold }

/**
 * Image
 */

img { max-width: 100% }

/**
 * Botões
 */

.btn-primary {
  background-color: #3a3f57;
  border: none;

  &:focus {
    background-color: #3a3f57;
    box-shadow: 0 0 1px #3a3f57;
  }

  &:hover {
    background-color: #303e52;
  }
}

.btn-inactive {
  background-color: #777;
  border: none;

  &:focus {
    background-color: #777;
    box-shadow: 0 0 1px #777;
  }

  &:hover {
    background-color: #6a6a6a;
  }
}

/**
 * IFrames
 */

iframe.full-width {
  height: 100%;
  width: 100%;
}

/**
 * Home
 */

#wallpaper {
    background-color: #99fdd9;
    background-image: url(./assets/img/logo.png), url(./assets/img/wallpaper.png);
    background-position: 50%, bottom;
    background-repeat: no-repeat;
    background-size: 50%, cover;
    height: 100vh;
    position: relative;
    width: 100vw;

    @media screen and (orientation: landscape) {
      background-size: 25%, cover;
    }

    @media screen and (min-width: 720px) {
      background-size: auto 40%, cover;
    }

    .balao {
      opacity: 0.75;
      position: absolute;
      transition-duration: .2s;

      &:hover {
        cursor: pointer;
        opacity: 1;
      }

      &.balao-1 {
        left: calc(50% - 75px);
        top: calc(50% - 130px);
        width: 80px;

        @media screen and (min-width: 400px) {
          left: calc(50% - 75px);
          top: calc(50% - 140px);
        }

        @media screen and (min-width: 500px) {
          left: calc(50% - 90px);
          top: calc(50% - 140px);
        }

        @media screen and (min-width: 600px) {
          left: calc(50% - 125px);
          top: calc(50% - 180px);
          width: 130px;

          @media screen and (orientation: landscape) {
            left: calc(50% - 75px);
            top: calc(50% - 100px);
            width: 80px;
          }
        }

        @media screen and (min-width: 720px) {
          left: calc(50% - 150px);
          top: calc(50% - 200px);
          width: 150px;
        }

        @media screen and (min-width: 900px) {
          left: calc(50% - 170px);
          top: calc(50% - 210px);
          width: 160px;
        }
      }

      &.balao-2 {
        left: calc(50% - 135px);
        top: calc(50% - 85px);
        width: 90px;

        @media screen and (min-width: 400px) {
          left: calc(50% - 135px);
          top: calc(50% - 95px);
        }

        @media screen and (min-width: 500px) {
          left: calc(50% - 155px);
          top: calc(50% - 95px);
        }

        @media screen and (min-width: 600px) {
          left: calc(50% - 215px);
          top: calc(50% - 110px);
          width: 140px;

          @media screen and (orientation: landscape) {
            left: calc(50% - 125px);
            top: calc(50% - 65px);
            width: 80px;
          }
        }

        @media screen and (min-width: 720px) {
          left: calc(50% - 250px);
          top: calc(50% - 125px);
          width: 150px;
        }

        @media screen and (min-width: 900px) {
          left: calc(50% - 280px);
          top: calc(50% - 135px);
          width: 160px;
        }
      }

      &.balao-3 {
        left: calc(50% - 160px);
        top: calc(50% - 30px);
        width: 80px;

        @media screen and (min-width: 400px) {
          left: calc(50% - 170px);
          top: calc(50% - 40px);
        }

        @media screen and (min-width: 500px) {
          left: calc(50% - 190px);
          top: calc(50% - 40px);
        }

        @media screen and (min-width: 600px) {
          left: calc(50% - 250px);
          top: calc(50% - 30px);
          width: 110px;

          @media screen and (orientation: landscape) {
            left: calc(50% - 140px);
            top: calc(50% - 20px);
            width: 70px;
          }
        }

        @media screen and (min-width: 720px) {
          left: calc(50% - 300px);
          top: calc(50% - 40px);
          width: 140px;
        }

        @media screen and (min-width: 900px) {
          left: calc(50% - 310px);
          top: calc(50% - 40px);
          width: 150px;
        }
      }

      &.balao-4 {
        left: calc(50% + 30px);
        top: calc(50% - 130px);
        width: 110px;

        @media screen and (min-width: 400px) {
          left: calc(50% + 50px);
          top: calc(50% - 140px);
        }

        @media screen and (min-width: 500px) {
          left: calc(50% + 70px);
          top: calc(50% - 150px);
        }

        @media screen and (min-width: 600px) {
          left: calc(50% + 80px);
          top: calc(50% - 180px);
          width: 140px;

          @media screen and (orientation: landscape) {
            left: calc(50% + 40px);
            top: calc(50% - 110px);
            width: 100px;
          }
        }

        @media screen and (min-width: 720px) {
          left: calc(50% + 100px);
          top: calc(50% - 200px);
          width: 170px;
        }

        @media screen and (min-width: 900px) {
          left: calc(50% + 110px);
          top: calc(50% - 200px);
          width: 190px;
        }
      }

      &.balao-5 {
        left: calc(50% + 70px);
        top: calc(50% - 70px);
        width: 110px;

        @media screen and (min-width: 400px) {
          left: calc(50% + 90px);
          top: calc(50% - 70px);
        }

        @media screen and (min-width: 500px) {
          left: calc(50% + 120px);
          top: calc(50% - 80px);
        }

        @media screen and (min-width: 600px) {
          left: calc(50% + 140px);
          top: calc(50% - 100px);
          width: 140px;

          @media screen and (orientation: landscape) {
            left: calc(50% + 80px);
            top: calc(50% - 55px);
            width: 110px;
          }
        }

        @media screen and (min-width: 720px) {
          left: calc(50% + 160px);
          top: calc(50% - 100px);
          width: 170px;
        }

        @media screen and (min-width: 900px) {
          left: calc(50% + 170px);
          top: calc(50% - 90px);
          width: 190px;
        }
      }
    }

    #main-menu {
      bottom: 4rem;
      position: absolute;
      text-align: center;
      width: 100%;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          margin: 0 .5rem .2rem;

          button {
            background: transparent;
            border: none;
            color: $buttonColor;
            display: block;
            font-family: 'Lalezar', cursive;
            font-size: 3.2rem;
            outline: none;
            padding: 0;
            text-decoration: none;
            transition: .5s;
          }

          button:hover { color: $buttonColorHover }
        }
      }
  }
}

/**
 * Modal
 */

.modal {

  .modal-dialog {
    height: 100vh;
    margin: 0;
    overflow: auto;
    width: 100vw;
  }

  .modal-content {
    background-color: #99fdd9;
    background-image: url(./assets/img/wallpaper.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
    height: auto;
    min-height: 100%;
    padding: 1.5rem;

    .full-modal-header {
      height: 50px;
      margin-bottom: 20px;
      position: relative;

      .logo {
        height: 100%;
        position: absolute;
      }

      .btn-back {
        background: transparent;
        border: none;
        color: $buttonColor;
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        height: auto;
        line-height: 20px;
        padding: 0;
        position: absolute;
        right: 0;
        top: 15px;
      }

      .btn-back:hover { color: $buttonColorHover }
    }

    .full-modal-body {
      box-shadow: 0 0 5px #414F65;
      overflow: auto;
      height: calc(100vh - 110px);
      padding: 20px;

      .btn-bar { margin-bottom: 15px }

      table { background-color: #fff }
    }
  }
}
