@import url('https://fonts.googleapis.com/css?family=Lalezar|Roboto');
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/@angular-generic-table/core/css/generic-table.min.css';
@import './assets/css/angular-generic-table.scss';

$buttonColor: #303e52;
$buttonColorHover: #414f65;

body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  overflow: hidden;
}

/**
 * Home
 */

#wallpaper {
    background-color: #acd473;
    background-image: url(./assets/img/logo.png), url(./assets/img/wallpaper.jpg);
    background-position: 50%, bottom;
    background-repeat: no-repeat;
    background-size: 50%, cover;
    height: 100vh;
    position: relative;
    width: 100vw;

    #main-menu {
      bottom: 4rem;
      position: absolute;
      text-align: center;
      width: 100%;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          margin: 0 .5rem .2rem;

          button {
            background: transparent;
            border: none;
            color: $buttonColor;
            display: block;
            font-family: 'Lalezar', cursive;
            font-size: 3.2rem;
            outline: none;
            padding: 0;
            text-decoration: none;
            transition: .5s;
          }

          button:hover { color: $buttonColorHover }
        }
      }
  }
}

@media screen and (orientation: landscape) {
  #wallpaper { background-size: 25%, cover }
}

@media screen and (min-width: 720px) {
  #wallpaper { background-size: auto 40%, cover }
}

/**
 * Modal
 */

.modal {

  .modal-dialog {
    height: 100vh;
    margin: 0;
    overflow: auto;
    width: 100vw;
  }

  .modal-content {
    background-color: #acd473;
    background-image: url(./assets/img/wallpaper.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
    height: auto;
    min-height: 100%;
    padding: 1.5rem;

    .full-modal-header {
      height: 50px;
      margin-bottom: 20px;
      position: relative;

      .logo {
        height: 100%;
        position: absolute;
      }

      .btn-back {
        background: transparent;
        border: none;
        color: $buttonColor;
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        height: auto;
        line-height: 20px;
        padding: 0;
        position: absolute;
        right: 0;
        top: 15px;
      }

      .btn-back:hover { color: $buttonColorHover }
    }

    .full-modal-body {
      box-shadow: 0 0 5px #414F65;
      overflow: auto;
      height: calc(100vh - 110px);
      padding: 20px;

      table { background-color: #fff }

      .btn-search {
        background-color: #3a3f57;
        border-color: #3a3f57;
      }
      .btn-search:hover {
        background-color: #303e52;
        border-color: #303e52;
      }
    }
  }
}
