<div id="wallpaper">
  <img class="balao balao-1" src="./assets/img/baloes/listar-todos.png"
       alt="Listar todos?" title="Listar todos?"
       (click)="openModal(modalPage.FOLHA, $event)" />
  <img class="balao balao-2" src="./assets/img/baloes/e-ao-longo-do-tempo.png"
       alt="E ao longo do tempo?" title="E ao longo do tempo?"
       (click)="openModal(modalPage.FOLHA, $event)" />
  <img class="balao balao-3" src="./assets/img/baloes/quanto-custa-uma-proposicao.png"
       alt="Quanto custa uma proposição?" title="Quanto custa uma proposição?"
       (click)="openModal(modalPage.FOLHA, $event)" />
  <img class="balao balao-4" src="./assets/img/baloes/funcoes.png"
       alt="Funções?" title="Funções?"
       (click)="openModal(modalPage.FOLHA, $event)" />

  <nav id="main-menu">
    <ul>
      <li><button (click)="openModal(modalPage.SOBRE, $event)">Sobre</button></li>
      <li><button (click)="openModal(modalPage.EQUIPE, $event)">Equipe</button></li>
    </ul>
  </nav>
</div>
