<div id="wallpaper">
  <div id="social-media">
    <a href="http://api.quebraquebra.lsd.ufcg.edu.br" target="_blank">
      <img src="./assets/img/icones/api.png" alt="API" title="API">
    </a>
    <a href="https://www.facebook.com/quebracamaraquebrasenado" target="_blank">
      <img src="./assets/img/icones/facebook.png" alt="Facebook" title="Facebook">
    </a>
    <a href="https://github.com/quebraquebra" target="_blank">
      <img src="./assets/img/icones/github.png" alt="GitHub" title="GitHub">
    </a>
    <a href="mailto:quebracamaraquebrasenado@gmail.com">
      <img src="./assets/img/icones/gmail.png" alt="E-mail" title="E-mail">
    </a>
  </div>

  <img class="balao balao-1" src="./assets/img/baloes/folha.png" alt="Folha" title="Folha"
       (click)="openModal(modalPage.FOLHA, $event)" />
  <a href="https://quebraquebra.github.io/blog/">
    <img class="balao balao-2" src="./assets/img/baloes/analises.png" alt="Análises" title="Análises" />
  </a>

  <nav id="main-menu">
    <ul>
      <li><button (click)="openModal(modalPage.SOBRE, $event)">Sobre</button></li>
      <li><button (click)="openModal(modalPage.EQUIPE, $event)">Equipe</button></li>
    </ul>
  </nav>
</div>
