<div id="wallpaper">
  <img class="balao balao-1" src="./assets/img/baloes/quanto-custa.png"
       alt="Quanto custa?" title="Quanto custa?"
       (click)="openModal(modalPage.FOLHA, $event)" />
  <img class="balao balao-2" src="./assets/img/baloes/quem-sao-os-mais-ricos.png"
       alt="Quem são os mais ricos?" title="Quem são os mais ricos?"
       (click)="openModal(modalPage.FOLHA, $event)" />
  <img class="balao balao-3" src="./assets/img/baloes/folha.png"
       alt="Folha" title="Folha"
       (click)="openModal(modalPage.FOLHA, $event)" />
  <img class="balao balao-4" src="./assets/img/baloes/como-se-compara.png"
       alt="Como se compara?" title="Como se compara?"
       (click)="openModal(modalPage.FOLHA, $event)" />

  <nav id="main-menu">
    <ul>
      <li><button (click)="openModal(modalPage.SOBRE, $event)">Sobre</button></li>
      <li><button (click)="openModal(modalPage.EQUIPE, $event)">Equipe</button></li>
    </ul>
  </nav>
</div>
